<configuration>
	<packageSources>
		<add key="Dev-Sufiyan Packages" value="https://nuget.pkg.github.com/Dev-Sufiyan/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<GitHub_Packages>
			<add key="Username" value="" />
			<add key="ClearTextPassword" value="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" />
		</GitHub_Packages>
	</packageSourceCredentials>
</configuration>
