<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
		<add key="github" value="https://nuget.pkg.github.com/Dev-Sufiyan/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="Dev-Sufiyan" />
			<add key="ClearTextPassword" value="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" />
		</github>
	</packageSourceCredentials>
</configuration>
