<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
		<add key="dev-sufiyan" value="https://nuget.pkg.github.com/Dev-Sufiyan/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<dev-sufiyan>
			<add key="Username" value="Dev-Sufiyan" />
			<add key="ClearTextPassword" value="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" />
		</dev-sufiyan>
	</packageSourceCredentials>
</configuration>
